.text-center {
  text-align: center;
}

.container {
  padding: 30px;
  margin-right: 400px;
  margin-left: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  position: relative;
}

h1 {
  font-family: helvetica;
}

p {
  font-family: helvetica;
  font-size: 20px;
  padding: 10px;
}

.myNumbers1 {
  font-size: 40px;
  text-align: center;
  font-family: helvetica;
  font-weight: 1200;
}

.myNumbers2 {
  font-size: 40px;
  text-align: center;
  font-family: helvetica;
  font-weight: 1200;
}

.myNumbers3 {
  font-size: 40px;
  text-align: center;
  font-family: helvetica;
  font-weight: 1200;
}

.horizontal {
  display: inline-block;
  width: 13%;
}

.myButton {
  background: black;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#stopIt {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 20px;
  font-weight: 1000;
}